.suc-msg {
    color: rgb(0, 187, 0);
    font-size: 12px;
    font-weight: 400;
    margin: 0px;
}
.err-msg {
    color: rgb(255, 0, 0);
    font-size: 12px;
    font-weight: 500;
    margin: 0px;
}
.regis-s {
    color: #673ab7 !important;
    margin-left: 5px;
    font-weight: 500;
}